.drag-and-drop {
    &-container {
        padding: 10px;
        margin-bottom: 10px;

        .outline {
            padding: 5px;
            min-height: 100px;
            border: 1px dashed $main-color;
            border-radius: 10px;
        }
    }
}
