.error-indicator {
    &-img {
        max-width: 20%;
    }

    &-title {
        font-size: 34px;
    }

    &-desc {
        max-width: 300px;
        text-align: center;
        font-size: 16px;
        line-height: normal;
        font-weight: normal;
    }
}