.home-card{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: $border-radius;
    box-shadow: $feather-shadow;
    color: #212529 !important;

    &:hover {
        text-decoration: none;
        .home-card-img .img-container {
            transform: scale(1.1);
        }
    }

    &-img {
        overflow: hidden;
        .img-container {
            display: flex;
            transition: 0.5s ease-in-out;
            border-radius: 5px;

            img {
                margin: auto;
                object-fit: cover;
                border-radius: 5px 5px 0 0;
            }
        }
    }

    &-info{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding: 10px 0;

        h3 {
            text-align: center;
            margin: auto;
        }

        .title{
            margin-bottom: 5px;
            text-align: center;
            font-size: 24px;
        }

        .availbe{
            text-align: center;
        }
    }
}
