.list-item{
    padding: 10px 0;
    height: 100%;
    box-shadow: $feather-shadow;
    border-radius: $border-radius;

    display: flex;
    flex-direction: column;

    font-family: Roboto, sans-serif;
    font-style: normal;

    .btn-in-cart{

        h3{
            font-weight: normal;
            font-size: 16px;
            line-height: 16px;
            margin: 0;

            color: #FFFFFF;
        }

        &-container{
            padding: 0 10px;
        }
    }
}

.item{
    margin-bottom: 10px;

    &-img {
        object-fit: cover;

        & > span {
            width: 100%;
            span {
                height: 208px;

                @media (max-width: 1200px) {
                    height: 171px;
                }
                @media (max-width: 756px) {
                    height: 195px;
                }
            }
        }

        img {
            object-fit: cover;
            width: 600px;
        }

        &.divorce-img {
            img {
                object-fit: cover;
                width: 600px;
                height: 190px;
            }
        }
    }

    &-body {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    &-info{
        margin-top: 5px;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        flex: 1;

        &-container{
            margin-bottom: 15px;

            .sex{
                 & > span{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 16px;
                    margin-left: 2px;
                }
            }
            .price{
                font-weight: bold;
                font-size: 16px;
                line-height: 16px;

                color: #000000;

                svg{
                    margin-left: 5px;
                }
            }
        }
    }

    &-title{
        font-weight: bold;
        font-size: 16px;
        line-height: 16px;
        white-space: nowrap;

        color: #000000;
        margin-bottom: 5px;

        h3 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}
