$main-color: #3F81E5;
$feather-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
$country-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.5);
$border-radius: 5px;


@mixin morph-indicator {
    margin: 0 5px;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    user-select: none;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    font-height: 16px;
    font-align: center;
    white-space: nowrap!important;
}

.morph {
    &s{
        display: flex;
        width: 100%;
    }

    &-indicator-count{
        display: inline-block;
        padding: 2px 5px;
        color: #fff;
        border-radius: 5px;
        user-select: none;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
    }

    &-indicator{
        margin: 0 5px;
        padding: 5px;
        color: #fff !important;
        border-radius: 5px;
        user-select: none;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        white-space: nowrap!important;

        &:hover{
            text-decoration: none;
        }

        &-search{
            @include morph-indicator;
            background: #be2050;
        }
    }

    &-dominant{

        $normal: #3F81E5;
        $super: #665599;

        &-normal{
            background: $normal;
        }

        &-super{
            background: $super;
        }
    }

    &-recessive{

        $possible-het: #FFCC44;
        $het: #FF9966;
        $visual: #FF7788;

        &-possible-het{
            background: $possible-het;
        }

        &-het{
            background: $het;
        }

        &-visual{
            background: $visual;
        }
    }

    &-other{

        $normal: #B3B3B3;
        $possible: #808080;

        &-normal{
            background: $normal;
        }

        &-possible{
            background: $possible;
        }
    }
}

.btn{
    &-second{
        color: $main-color !important;
        border: 1px solid $main-color !important;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            color: mix($main-color, #222) !important;
            border-color: mix($main-color, #222) !important;
        }

        &-bn{
            border: none;
            color: $main-color !important;
            border-radius: 5px;

            &:hover {
                color: mix($main-color, #222) !important;
            }
        }
    }

    &-main {
        color: #fff !important;
        background: $main-color !important;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            color: darken(#fff, 10%) !important;
        }
    }

    &-success{
        color: #fff !important;
        background: #3ED04D !important;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            color: mix(#fff, #222) !important;
        }
    }

    &-in-cart {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        cursor: pointer;
    }
}

.disabled {
    color: #cccccc;
}

.color {
    &-main {
        color: $main-color !important;
    }
}

.rating{
    display: flex;

    &-star{
        width: 20px;
        height: 20px;
        margin-right: 2px;

        background: url('/images/reating-star.svg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;

        &.empty {
            background: url('/images/reating-star-empty.svg');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        &:last-child{
            margin-right: 0;
        }
    }
}

.sex{
    &-male {
        color: $main-color;
    }

    &-female {
        color: #C11F80;
    }
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

h1, .h2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
}

h2, .h2 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

h3,.h3{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.select-wrap {
    position: relative;
    select {
        padding-right: 10px;
        border: none;
        box-shadow: $feather-shadow;
        position: relative;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    &:after {
        position: absolute;
        top: 0;
        right: 10px;
        content: " ";
        width: 10px;
        height: 100%;
        display: inline-block;
        background: url(/images/arrow-little.svg) no-repeat center center;
    }
}

.country-flag{
    width: 16px;
    height: 10px;
    margin-left: 5px;
    box-shadow: $country-shadow;

    &-russia{
        background: url('/images/flags/russia.svg');
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

.ruble-icon{
    margin-left: 5px;
}

.form {
    &-container {
        padding: 20px;
        border-radius: $border-radius;
        box-shadow: $feather-shadow;
        margin-top: 20px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;

        & .price {
            & + .btn.btn-main {
                margin-top: 10px;
            }

            .form-group {
                margin-bottom: 0 !important;
            }
        }

        .nec{
            position: relative;

            &::after{
                content: "*";
                position: absolute;
                top: 0;
                right: -10px;

                color: #dc3545;
            }
        }

        &-title {
            font-weight: bold;
            margin-bottom: 15px;
        }

        .forgot-pass {
            color: $main-color !important;
        }

        .controls {
            margin-top: 20px;

            .btn-main {
                margin-right: 25px;
            }
        }

        .info{
            position: relative;
            margin-left: 5px;

            svg{
                width: 18px;
                color: $main-color;
            }

            &:hover .info-text{
                display: block;
            }

            &-text{
                width: 300px;
                display: none;
                position: absolute;
                top: -10px;
                right: -320px;
                background: #fff;

                padding: 10px;
                box-shadow: $feather-shadow;
                border-radius: $border-radius;

                @media (max-width: 768px) {
                    position: relative;
                    top: 0;
                    right: 0;
                    left: 0;
                    margin: 10px 0;
                }
            }
        }

        .btn {
            font-weight: bold;

            &-success {
                margin-top: 10px;
            }
        }
    }

    &-group &-control {
        border: 1px solid #D3D9DE;

        &:focus {
            border: 1px solid $main-color !important;
            box-shadow: none !important;
        }
    }

    &-container &-group {
        position: relative;
        margin-bottom: 10px;



        .DayPickerInput {
            display: block;
            width: 100%;
            input {
                width: 100%;
                height: calc(1.5em + .75rem + 2px);
                padding: .375rem .75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                background-color: #fff;
                background-clip: padding-box;
                border-radius: .25rem;
                transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
                outline: none;

                border: 1px solid #D3D9DE;

                &:focus {
                    border: 1px solid $main-color !important;
                    box-shadow: none !important;
                }
            }
        }
    }

    &-container &-label {
        margin-bottom: 10px;
    }
}

.social{
    &-vk {
        color: #4A76A8;
    }

    &-facebook {
        color: #4267B2;
    }

    &-inst {
       color: #000;
    }

    &-youtube {
        color: #C4302B;
    }
}

.preview {
    position: relative;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: center;

    border: 1px solid $main-color;
    border-radius: 5px;

    &-delete {
        position: absolute;
        top: 5px;
        right: 5px;
        color: #D80027;
    }

    img {
        border-radius: 5px;
    }
}

.product-imgs {
    margin-bottom: 10px;
}


.profile{
    display: flex;
    padding: 0 10px;
    margin-bottom: 10px;
    align-items: center;


    &:hover{
        text-decoration: none;
    }

    &-title{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 16px;
        color: #000;

        &:hover{
            color: mix(#000, #444);
            text-decoration: none;
            transition: 0.5s;
        }

        margin: 0;
        cursor: pointer;
    }

    .time{
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;

        margin: 0;
    }

    &-img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        display: flex;
        box-shadow: $feather-shadow;

        img {
            margin: auto;
        }
    }

    &-info{
        margin-left: 5px;
        display: flex;
        flex-direction: column;
        color: #212529 !important;
    }
}

.message-count {
    padding: 0 6px;
    text-align: center;
    background: $main-color;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 12px;
    border-radius: 10px;
}

.search-morphs {
    border: 1px solid #D3D9DE;
    border-top: none;
    z-index: 9999;
    box-shadow: 0 9px 10px 1px rgba(0,0,0,0.25);
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 70px;
    background: #fff;
    height: 150px;
    overflow: auto;

    &-item {
        padding: 5px 0;
        border-bottom: 1px solid #ccc;

        &:last-child {
            border-bottom: none;
        }

        &.selected {
            background: $main-color;
        }
    }
}

.selected-morphs {
    margin-top: 10px;
    flex-wrap: wrap;

    .morph-indicator {
        margin-bottom: 10px;
    }

    .delete {
        cursor: pointer;
    }
}


.load {
    display: flex;
    width: 100%;
    height: 100%;
    background: #D3D9DE;
    opacity: 0.7;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
}


.slick-track {
    margin: 0 !important;
}

.modal-dialog {
    @media (min-width: 576px) {
        max-width: 1300px !important;
    }
}

.divorces {

    .products-item-info {
        border-left: 1px solid #E5E5E5;
    }
}

.cookies {
    background: $main-color;
    padding: 10px;

    p {
        color: #fff;
    }

    .btn {
        color: $main-color !important;
        background: #fff !important;
    }
}