//MORPH
@mixin morph-indicator {
    margin: 0 5px;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    user-select: none;

    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    font-height: 16px;
    font-align: center;
    white-space: nowrap!important;
}

@mixin list-loop($className, $styleName, $max: 50, $offset: 5, $unit: 'px') {
    $i: 0;
    @while $i <= $max {
        #{$className + $i} {
            #{$styleName}: #{$i + $unit};
        }
        $i: $i + $offset;
    }
}

//BUTTONS
@mixin btnFocus($color, $color-dark, $box-shadow) {
    &:focus, &.focus {
        box-shadow: $box-shadow;
    }

    &.disabled, &:disabled {
        color: #fff;
        background-color: $color;
        border-color: $color;
    }

    &:not(:disabled):not(.disabled) {
        &:active, &.active {
            color: #fff;
            background-color: $color-dark;
            border-color: $box-shadow;
        }
    }
}
