.products {
    padding: 20px;
    margin-top: 20px;

    @media (max-width: 576px) {
        padding: 0;
        box-shadow: none !important;
    };

    &-title {
        margin-bottom: 10px;
        h1 {
            font-size: 34px;

            @media (max-width: 375px) {
                font-size: 30px;
            }
        }
    }

    &-filter-and-result {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 10px;

        @media (max-width: 576px) {
            flex-direction: column;

            form {
                width: 100%;
            }

            .select-wrap select {
                width: 100% !important;
                padding-right: 30px;
            }

            & > * {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &-item {
        padding: 10px;
        margin-bottom: 10px;
        color: #212529;

        &:hover {
            color: #212529;
            text-decoration: none;
        }
        @media (max-width: 768px) {
            flex-direction: column;
        }

        &-img {
            width: 20%;
            padding-right: 10px;
            border-right: 1px solid #E5E5E5;

            @media (max-width: 768px) {
                width: 100%;
                display: flex;
                justify-content: center;
                padding-right: 0;
                padding-bottom: 10px;
                border-right: none;
                border-bottom: 1px solid #E5E5E5;
            }

            .slick {

                &-slide {
                    cursor: grab;
                }

                &-prev, &-next {
                    left: calc(50% - 4px) !important;
                    transform: translate(-50%, -50%) rotate(90deg);
                }

                &-prev {
                    top: 0;
                }

                &-next {
                    top: 100%;
                }
            }

            img {
                border-radius: 5px;
            }
        }

        &-info {
            width: 65%;
            padding: 0 10px;

            @media (max-width: 768px) {
                width: 100%;
                padding: 10px 0;
                border-right: none;
                border-left: none !important;
                border-bottom: none;
            }

            h3.title {
                font-size: 16px;

                &-sex {
                    font-size: 16px;
                }
            }

            h2 {
                font-size: 24px;
            }
        }

        &-controls {
            &-container {
                width: 15%;
                padding-left: 10px;
                border-left: 1px solid #E5E5E5;

                @media (max-width: 768px) {
                    width: 100%;
                    padding-left: 0;
                    padding-top: 10px;
                    border-right: none;
                    border-left: none !important;
                    border-top: 1px solid #E5E5E5;
                }
            }

            &-item {
                display: flex;
                padding: 7px;
                border-radius: 5px;
                border: 1px solid #D3D9DE;
                color: #A7A9AB;
                margin-right: 10px;

                &:last-child {
                    margin-right: 0;
                }

                &.times {
                    color: #D80027;
                    cursor: pointer;
                }

                svg {
                    width: 25px !important;
                    height: 25px !important;
                    margin: auto;
                }
            }
        }

        &-views {
            color: #A7A9AB;
            margin-bottom: 10px;

            @media (max-width: 768px) {
                margin-bottom: 0;
                margin-right: 10px;
            }

            @media (max-width: 576px) {
                margin-bottom: 10px;
                margin-right: 0;
            }

            .views {
                font-family: Roboto, sans-serif;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 16px;

                margin-left: 10px;
            }
        }
    }
}
