.sidebar {
    min-height: 660px;
    height: 100%;
    overflow: hidden;

    .sidebar-item {
        &.active {
            a {
                color: #005FF9;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 3px;
                    height: 100%;
                    background: #005FF9;
                }
            }
        }

        a {
            position: relative;
            display: block;
            padding: 10px 10px 10px 36px;
            color: #333333;
            text-decoration: none;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            transition: background 0.3s ease-in-out;

            @media (max-width: 768px) {
                padding: 10px 0;
            }

            &:hover {
                background: rgba(0, 16, 61, 0.04);
            }
        }
    }
}
