$main-color: #006633;
$main-color-hover: #00974B;
$second-color: #61A375;

$input-hover-color: #3F81E5;
$gray: #f2f3f5;


$feather-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
$country-shadow: 0px 0px 2px 0.5px rgba(0, 0, 0, 0.5);

$border-radius: 5px;
